USE [master]
GO
/****** Object:  Database [CALL_CENTER]    Script Date: 6/11/2023 02:34:52 ******/
CREATE DATABASE [CALL_CENTER]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CALL_CENTER', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CALL_CENTER.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CALL_CENTER_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\CALL_CENTER_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CALL_CENTER].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CALL_CENTER]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 6/11/2023 02:34:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DNI] [varchar](10) NOT NULL,
	[NOMBRE] [varchar](40) NOT NULL,
	[APELLIDO] [varchar](40) NOT NULL,
	[EMAIL] [varchar](70) NOT NULL,
	[TELEFONO_1] [varchar](20) NOT NULL,
	[TELEFONO_2] [varchar](20) NULL,
	[FECHA_NACIMIENTO] [date] NOT NULL,
	[FECHA_ALTA] [date] NOT NULL,
	[FECHA_BAJA] [date] NULL,
	[ESTADO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTES_X_DOMICILIOS]    Script Date: 6/11/2023 02:34:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES_X_DOMICILIOS](
	[ID_CLIENTE] [int] NOT NULL,
	[ID_DOMICILIO] [int] NOT NULL,
	[ESTADO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC,
	[ID_DOMICILIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOMICILIOS]    Script Date: 6/11/2023 02:34:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOMICILIOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PROVINCIA] [tinyint] NOT NULL,
	[CIUDAD] [varchar](100) NOT NULL,
	[NOMBRE_CALLE] [varchar](60) NOT NULL,
	[NUMERO] [varchar](15) NULL,
	[PISO] [tinyint] NULL,
	[DEPARTAMENTO] [varchar](15) NULL,
	[ENTRECALLE_1] [varchar](60) NULL,
	[ENTRECALLE_2] [varchar](60) NULL,
	[OBSERVACION] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADOS_TICKET]    Script Date: 6/11/2023 02:34:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADOS_TICKET](
	[ID] [tinyint] NOT NULL,
	[NOMBRE] [varchar](30) NOT NULL,
	[ESTADO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRIORIDADES]    Script Date: 6/11/2023 02:34:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRIORIDADES](
	[ID] [tinyint] NOT NULL,
	[NOMBRE] [varchar](30) NOT NULL,
	[ESTADO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVINCIAS]    Script Date: 6/11/2023 02:34:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVINCIAS](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NOT NULL,
	[ESTADO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 6/11/2023 02:34:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[ID] [tinyint] NOT NULL,
	[DESCRIPCION] [varchar](20) NOT NULL,
	[ESTADO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TICKETS]    Script Date: 6/11/2023 02:34:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TICKETS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_TIPO] [tinyint] NOT NULL,
	[ID_PRIORIDAD] [tinyint] NOT NULL,
	[DESCRIPCION_INICIAL] [varchar](50) NOT NULL,
	[DESCRIPCION_CIERRE] [varchar](50) NULL,
	[USUARIO_ASIGNADO] [int] NOT NULL,
	[CLIENTE_AFECTADO] [int] NOT NULL,
	[FECHA_INICIO] [date] NOT NULL,
	[FECHA_FIN] [date] NULL,
	[ID_ESTADO] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOS_INCIDENCIA]    Script Date: 6/11/2023 02:34:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOS_INCIDENCIA](
	[ID] [tinyint] NOT NULL,
	[NOMBRE] [varchar](30) NOT NULL,
	[ESTADO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 6/11/2023 02:34:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[ID] [int] IDENTITY(1000,1) NOT NULL,
	[DNI] [varchar](10) NOT NULL,
	[NOMBRE] [varchar](40) NOT NULL,
	[APELLIDO] [varchar](40) NOT NULL,
	[EMAIL] [varchar](70) NOT NULL,
	[PASSWORD] [varchar](40) NOT NULL,
	[FECHA_INICIO] [date] NOT NULL,
	[ROL] [tinyint] NOT NULL,
	[ESTADO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CLIENTES] ADD  DEFAULT (getdate()) FOR [FECHA_ALTA]
GO
ALTER TABLE [dbo].[CLIENTES] ADD  DEFAULT ((1)) FOR [ESTADO]
GO
ALTER TABLE [dbo].[CLIENTES_X_DOMICILIOS] ADD  DEFAULT ((1)) FOR [ESTADO]
GO
ALTER TABLE [dbo].[ESTADOS_TICKET] ADD  DEFAULT ((1)) FOR [ESTADO]
GO
ALTER TABLE [dbo].[PRIORIDADES] ADD  DEFAULT ((1)) FOR [ESTADO]
GO
ALTER TABLE [dbo].[PROVINCIAS] ADD  DEFAULT ((1)) FOR [ESTADO]
GO
ALTER TABLE [dbo].[ROLES] ADD  DEFAULT ((1)) FOR [ESTADO]
GO
ALTER TABLE [dbo].[TICKETS] ADD  DEFAULT (getdate()) FOR [FECHA_INICIO]
GO
ALTER TABLE [dbo].[TIPOS_INCIDENCIA] ADD  DEFAULT ((1)) FOR [ESTADO]
GO
ALTER TABLE [dbo].[USUARIOS] ADD  DEFAULT (getdate()) FOR [FECHA_INICIO]
GO
ALTER TABLE [dbo].[USUARIOS] ADD  DEFAULT ((1)) FOR [ESTADO]
GO
ALTER TABLE [dbo].[CLIENTES_X_DOMICILIOS]  WITH CHECK ADD FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTES] ([ID])
GO
ALTER TABLE [dbo].[CLIENTES_X_DOMICILIOS]  WITH CHECK ADD FOREIGN KEY([ID_DOMICILIO])
REFERENCES [dbo].[DOMICILIOS] ([ID])
GO
ALTER TABLE [dbo].[DOMICILIOS]  WITH CHECK ADD FOREIGN KEY([ID_PROVINCIA])
REFERENCES [dbo].[PROVINCIAS] ([ID])
GO
ALTER TABLE [dbo].[TICKETS]  WITH CHECK ADD FOREIGN KEY([CLIENTE_AFECTADO])
REFERENCES [dbo].[CLIENTES] ([ID])
GO
ALTER TABLE [dbo].[TICKETS]  WITH CHECK ADD FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[ESTADOS_TICKET] ([ID])
GO
ALTER TABLE [dbo].[TICKETS]  WITH CHECK ADD FOREIGN KEY([ID_PRIORIDAD])
REFERENCES [dbo].[PRIORIDADES] ([ID])
GO
ALTER TABLE [dbo].[TICKETS]  WITH CHECK ADD FOREIGN KEY([ID_TIPO])
REFERENCES [dbo].[TIPOS_INCIDENCIA] ([ID])
GO
ALTER TABLE [dbo].[TICKETS]  WITH CHECK ADD FOREIGN KEY([USUARIO_ASIGNADO])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD FOREIGN KEY([ROL])
REFERENCES [dbo].[ROLES] ([ID])
GO
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD CHECK  (([FECHA_NACIMIENTO]<=getdate()))
GO
ALTER TABLE [dbo].[CLIENTES]  WITH CHECK ADD CHECK  (([FECHA_BAJA]<=getdate()))
GO
ALTER TABLE [dbo].[TICKETS]  WITH CHECK ADD CHECK  (([FECHA_FIN]<=getdate()))
GO
USE [master]
GO
